* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

:root {
  --app-width: calc(100% - 80px);
  --app-padding-top: 40px;
  --app-height: 880px;
}

.App {
  width: var(--app-width);
  padding-top: var(--app-padding-top);
  margin: auto;
  height: var(--app-height);
}

.DraftEditor-root {
  height: calc(100% - 48px) !important;
  margin: 24px;
}